.search-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    height: 6rem;
    background-color: white;
    box-shadow: 0 1px 0px 0px rgba(217, 213, 213, 0.75);
    -webkit-box-shadow: 0 1px 0px 0px rgba(217, 213, 213, 0.75);
    -moz-box-shadow: 0 1px 0px 0px rgba(217, 213, 213, 0.75);

    input,
    button {
        height: 3rem;
        padding: 0 1rem;
    }
}

.content-container {
    height: 100vh;
    overflow-y: scroll;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 170rem;
    margin: 0 auto;
    padding: 1.6rem;
    &.centered {
        justify-content: center;
    }
    
}

.card {
    width: 30rem;
    padding: 1.6rem;
    border: 1px solid grey;
    border-radius: 1.2rem;
    transition: all 0.35s ease;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__id {
        font-size: 2rem;
    }

    &__name {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__stat {
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
    }
    &:hover {
        color: white;
        background-color: #666666;
    }
}